* {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #66545e;
}

.logo {
  position: relative;
  font-size: 20px;
  color: #f6f6f6;
  text-decoration: none;
  font-weight: 600;
}

.header {
  position: fixed;
  top: 10px;
  left: 0;
  width: 98%;
  padding: 30px 25px;
  margin: 12px;
  background-color: #66545e;
  display: flex;
  float: top;
  border-radius: 25px 25px;
  justify-content: space-between;
}

.navbar a {
  color: #f6f6f6;
  text-decoration: none;
  font-weight: 500;
  padding: 12px 13px 0 0;
  margin-right: 50px;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: #eea990;
}

.fixed-nav.scroll {
  border-radius: 50px;
}

section {
  height: 120vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-content {
  position: absolute;
  top: 40%;
  max-width: 800px;
  margin: 0 auto;
  padding: 80px;
  text-align: left;
}

.home-content h1 {
  font-size: 50px;
  color: #300303;
  font-family: fantasy;
  font-weight: 900;

}

.home-content p {
  font-size: 14px;
  font-weight: 550;
  line-height: 1.5;
  color: #250404;
  margin-top: 20px;
  font-family: 'Segoe UI';
  font-style: oblique;
}

#home-section {
  background-image: url('/static/image/homebg.png');
}

.text-div {
  text-align: center;
  background-color: #66545e;
  padding: 20px;
}

.text-div h1 {
  color: #f6f6f6;
  font-size: 35px;
  display: inline-block;
}

.mid-section {
  background-image: url('/static/image/midbg.png');
}

#about-section {
  background-image: url('/static/image/aboutbg.png');
}

#about-section .about-content {
  position: flex;
  top: 50%;
  left: 15%;
  max-width: 800px;
  padding: 200px;
  text-align: left;
}

#about-section .about-content h1 {
  font-size: 22px;
  color: #300303;
  font-weight: 900;
}

#about-section .about-content p {
  font-size: 14px;
  font-weight: 550;
  line-height: 1.5;
  color: #250404;
  margin-top: 20px;
  font-family: 'Segoe UI';
  font-style: oblique;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

footer nav ul {
  list-style-type: none;
  padding: 0;
}

footer nav ul li {
  display: inline;
}

footer nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}